# Python
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/

# Conda
.env
.venv

# Large activation files
activations/**/*.pt

# SAE checkpoints
sae_models/**/*.pt

# Fine-tuned models
finetuned_models/**

# Reports
*.pdf
*.zip

# OS files
.DS_Store
Thumbs.db

analysis/*.pt